.form
{
    left: 50px;
}
body {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Backgroud\\b1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 90%;
}
.navbar {
    background-color: #2f662f;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #5cb85c;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}